/* create _variables.scss class*/
$banner-bg:#87CEFA;
$title-first-bg:#DA70D6;
$title-first-text:#800000;
$title-two-three-four-text:#2E8B57;
$title-two-bg:#FFB6C1;
$title-three-bg:#98FB98;
$title-four-bg:#87CEFA;
$white:#FFFFFF;
$blue:#4169E1;
$black:black;
$brown:#A9A9A9;